.search-button {
    cursor: pointer;
    
    &--active {
      font-size: 18px;
      color: #FFF;
      padding: 0px 70px;
      height: 60px;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      outline: none;
      border: none;
      background-color: #F65261;
      cursor: pointer;
    }
  }
  