.search-panel {
  position: relative;
  height: 400px;
  padding-top: 110px;
  background: url("../../../../img/background.jpg");

  &__logo {
    position: absolute;
    top: 25px;
    left: 25px;
  }

  .icon-button {
    position: absolute;
    top: 0;
    left: 25px;
    width: 200px;
    height: 80px;
  }

  &__title {
    margin-left: 130px;
    color: #fff;
    font-size: 30px;
  }

  &__search {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .search-field {
      margin-right: 15px;
    }
  }

  &__first-filter {
    margin-top: 15px;
    margin-left: 130px;
  }

  &__second-filter {
    position: absolute;
    right: 120px;
    bottom: -52.5px;
  }
}
