.search-field {
    font-size: 18px;
    color: #FFF;
    width: 710px;
    height: 60px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding-left: 18px;
    background: #424242;
    opacity: 0.8;
    outline: none;
    border: none;
}