.search-field {
  width: 710px;
  height: 60px;
  padding-left: 18px;
  color: #fff;
  font-size: 18px;
  background: #424242;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  outline: none;
  opacity: 0.8;
}
