@import '../../../mixins/font-montserrat.scss';

.search-filter {
  display: flex;
  font-size: 15px;
  color:#FFF;
  height: 35px;

  &__title {
    line-height: 35px;
    color: #ffffff;
    margin-right: 20px;
  }

  &__filters {
    border-radius: 4px;
    overflow: hidden;

    .search-button {
      font-size: 15px;
      color:#FFF;
      padding: 0px 30px;
      height: 35px;
      background-color: #424242;
      outline: none;
      border: none;
      opacity: 0.8;
      border-radius: 0;
    }

    .search-button--active {
      padding: 0px 30px;
      height: 35px;
      font-size: 15px;
      border-radius: 0;
    }
  }
}
